<ion-header class="ujb_header ujbFrame_header blue-bg">
  <div class="statusBarPlaceholder" showWhen="ios"></div>
  <ion-toolbar>
    <ion-title>Business Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-disabled ujbFrameContent">
  <div class="stackLayers ujbFrame_footerSkipLink">
    <div class="layerFront">
      <div class="contentArea">
        <h3>Upload Your / Company logo</h3>
        <div class="subHeading">(Optional)</div>
        <div class="answer-section">
          <div class="uploadLogo">
            <img *ngIf="companyLogoDetails.logoBase64"
                 alt=""
                 imageViewer onerror="this.src='assets/imgs/content-imgs/businessprofileCopy@2x.png'" src="{{companyLogoDetails.logoBase64}}">
            <img *ngIf="!companyLogoDetails.logoBase64"
                 alt=""
                 onerror="this.src='assets/imgs/content-imgs/businessprofileCopy@2x.png'" src="{{companyLogoDetails.logoBase64}}">
            <!-- <img onerror="this.src='assets/imgs/icons/editPhoto.png';" src="{{companyLogoDetails.logoBase64}}" alt="" imageViewer> -->
            <img (click)="openActionSheet()" alt="" class="editIcon-camera"
                 src="assets/imgs/icons/camera@2x.png">
          </div>
        </div>
      </div>
    </div>
    <div class="layerSecond"></div>
    <div class="layerLast"></div>
  </div>
</ion-content>
<ion-footer no-padding>
  <footer class="ujbFrame_footer">

    <div class="block w-full" float-left>
      <div (click)="goBack()" class="navLeft" float-left>
        <img alt="" class="img-icon" src="assets/imgs/icons/previous.png">
        <span>Previous</span>
      </div>
      <button (click)="uploadLogoDetail()" class="btn_invisible" float-right type="submit">
        <div class="navRight">
          <span>Next</span>
          <img alt="" class="img-icon" src="assets/imgs/icons/next.png">
        </div>
      </button>
    </div>
    <div (click)="uploadLogoDetail()" class="block w-full link-skip m-b-10" float-left
         text-center type="submit">
      <span>skip for later</span>
    </div>
  </footer>
</ion-footer>
