<!-- <ion-header class="ujb_header">

  <img src="assets/imgs/content-imgs/forgotpassword@2x.png" alt="">
  <ion-icon class="back_button" ios="ios-arrow-back" md="md-arrow-back" (click)="goBack()"></ion-icon>

</ion-header> -->

<ion-content [ngClass]="{'keypadFocused':pushNow==true}">
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <img alt="" src="assets/imgs/content-imgs/forgotpassword@2x.png">
        <ion-icon (click)="goBack()" class="back_button" ios="ios-arrow-back"
                  md="md-arrow-back"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="myWrapper">
    <form [formGroup]="changePassForm">
      <h3>Change Password</h3>
      <ion-list class="ujb_list" padding-horizontal>
        <ion-item class="ujb_input_icon">
          <ion-label position="floating">New Password</ion-label>
          <ion-input (ionBlur)="removeSroll()" (ionChange)="isMatching()" (ionFocus)="scrollTo(5000);"
                     [(ngModel)]="passwordNew" [type]="passwordType" class="password"
                     clearOnEdit="false"
                     formControlName="passwordNew"></ion-input>
          <ion-icon (click)='hideShowPassword()' [name]="passwordIcon" class="inputIcon_right"
                    color="gray" item-end>
          </ion-icon>
        </ion-item>

        <div *ngIf="changePassForm.controls['passwordNew'].hasError('required') && checkValidation"
             class="validateError">
          Password is required
        </div>
        <div *ngIf="!changePassForm.controls['passwordNew'].valid && changePassForm.controls['passwordNew'].dirty && !changePassForm.get('passwordNew').hasError('required')"
             class="validateError">
          Password must be between 8 to 30 characters
        </div>
        <div *ngIf="passwordInvalid && !changePassForm.controls.passwordNew.errors?.valid"
             class="validateError">
          Password shouldn't contain empty spaces
        </div>
        <ion-item class="ujb_input_icon">
          <ion-label position="floating">Retype New Password</ion-label>
          <ion-input (ionBlur)="removeSroll()" (ionChange)="isMatching()" (ionFocus)="scrollTo(5000);"
                     [(ngModel)]="retypePass" [type]="passwordReType" class="password"
                     clearOnEdit="false" formControlName="retypePass"></ion-input>
          <ion-icon (click)='hideShowReTypePassword()' [name]="reTypePasswordIcon" class="inputIcon_right"
                    color="gray" item-end>
          </ion-icon>
        </ion-item>

        <div *ngIf="changePassForm.controls['retypePass'].hasError('required') && checkValidation "
             class="validateError">
          Password is required
        </div>

        <div *ngIf="isMatchingPassword" class="validateError">
          Password does not match
        </div>
      </ion-list>
      <button (click)="callChangePasswordAPI()" class="ujb_btn_blue margin">Submit</button>
    </form>
  </div>
</ion-content>
